+++
title = "{{generateChemicalName .GenericName}}"
+++

## Related images

## General Description for this `thing`

| name                | value            |
|---------------------|------------------|
| level               |                  |
| first mention       |                  |
| alternative name(s) |                  |
| molecular formula   | {{joinChemicalFormula .ChemicalFormula}}	 |
| CAS                 |                  |
|                     |                  |
| precursor 1 [M+H]⁺       | {{round .Precursor1}}      |
| precursor 2 [M+2H]²⁺        | {{round .Precursor2}}       |
| precursor 3         |                  |
|                     |                  |
| HDX                 | {{.HDX}}                |
| precursor HDX   [d-M+D]⁺      | {{round .PrecursorHDX1}}       |
| precursor HDX 2 [d-M+2D]²⁺    | {{round .PrecursorHDX2}}        |
| precursor HDX 3     |                  |
|                     |                  |
| Rt                  |                  |
| Rt HDX              |                  |

## MS/MS fragments calculated

| # | a         | b         | c         | ta        | z         | y         | tz        |
|---|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
{{ range $fIdx, $f := .Fragments }}| {{index $fIdx}} | {{.A}} | {{.B}} | {{.C}} | {{.Ta}} | {{.Z}} | {{.Y}} | {{.Tz}} |
{{end}}

## Additional characteristic MS/MS fragments

| m/z       | annotation |
|-----------|------------|
|           |            |

## Recorded MS/MS spectra

| pdf | precursor | co-eluting | spider    | source                              |
|-----|-----------|------------|-----------|-------------------------------------|
|     |           |            |           |                                     |

## References

| titel     | reference   | spider    | name   | content  | link |
|-----------|-------------|-----------|--------|----------|-----|
|           |             |           |        |          |     |

## Spider species

| spider species     | family      | source      |
|--------------------|-------------|-------------|
{{range .Spiders}}| {{.Species}} | {{.Family}} |             |
{{end}}

## Comments