+++
title = "{{generateChemicalName .GenericName}}"
+++

![](/img/2.png)

## General Description

| name                | value            |
|---------------------|------------------|
| Level               |                  |
| Discovered          |                  |
| Synonym             |                  |
| Molecular formula   | {{joinChemicalFormula .ChemicalFormula}}	 |
| CAS                 |                  |
| SMILES              |                  |
| InChI               |                  |
|                     |                  |
| Precursor 1 [M+H]⁺       | {{round .Precursor1}}      |
| Precursor 2 [M+2H]²⁺        | {{round .Precursor2}}       |
| Precursor 3         |                  |
|                     |                  |
| HDX                 | {{.HDX}}                |
| Precursor HDX   [M(D{{.HDX}})+D]⁺      | {{round .PrecursorHDX1}}       |
| Precursor HDX 2 [M(D{{.HDX}})+2D]²⁺    | {{round .PrecursorHDX2}}        |
| Precursor HDX 3     |                  |
|                     |                  |
| Rt                  |                  |
| Rt HDX              |                  |

## Calculated MS/MS fragments

| # | a         | b         | c         | ta        | z         | y         | tz        |
|---|-----------|-----------|-----------|-----------|-----------|-----------|-----------|
{{ range $fIdx, $f := .Fragments }}| {{index $fIdx}} | {{round .A}} | {{round .B}} | {{round .C}} | {{round .Ta}} | {{round .Z}} | {{round .Y}} | {{round .Tz}} |
{{end}}
## Additional MS/MS fragments

| m/z       | Annotation |
|-----------|------------|
|           |            |

## Recorded MS/MS spectra

| pdf | Precursor | Co-eluting | Spider    | Source      | Author                 |
|-----|-----------|------------|-----------|-------------|------------------------|
|     |           |            |           |             |                        |

## References

| Titel     | Reference   | Spider    | Name   | Content  | Link |
|-----------|-------------|-----------|--------|----------|------|
|           |             |           |        |          |      |

## Spider species

| Spider species     | Family      | Discovered      |
|--------------------|-------------|-----------------|
{{range .Spiders}}| {{.Species}} | {{.Family}} |             |
{{end}}
## Comments