{{define "calculation"}}
<article id="calculation">
    <h2>Calculated Parameters</h2>
    <section id="genericName">
        <h3>Generic Name</h3>
        <p>{{generateChemicalName .GenericName}}</p>
    </section>
    <section id="chemicalFormula">
        <h3>Chemical Formula</h3>
        <p>{{joinChemicalFormula .ChemicalFormula}}</p>
    </section>
    <section id="molecularMass">
        <h3>Molecular Mass</h3>
        {{round .MolecularMass}}
    </section>
    <section id="hdx">
        <h3>HDX</h3>
        {{.HDX}}
    </section>
    <section id="quaternary">
        <h3>Quaternary</h3>
        {{.Quaternary}}
    </section>
    <section id="precursor1">
        <h3>Precursor 1</h3>
        {{round .Precursor1}}
    </section>
    <section id="precursor2">
        <h3>Precursor 2</h3>
        {{round .Precursor2}}
    </section>
    <section id="precursorhdx1">
        <h3>Precursor HDX 1</h3>
        {{round .PrecursorHDX1}}
    </section>
    <section id="precursorhdx2">
        <h3>Precursor HDX 2</h3>
        {{round .PrecursorHDX2}}
    </section>
    <section id="calculations">
        <h3>Fragment Ions</h3>
        <table>
            <tr>
                <th>Nr.</th>
                <th>a</th>
                <th>b</th> 
                <th>c</th>
                <th>t<sub>a</sub></th>
                <th>z</th>
                <th>y</th> 
                <th>t<sub>z</sub></th>
            </tr>
            {{range .Fragments}}
            <tr>
              <td>{{.ID}}</td>
              <td>{{round .A}}</td>
              <td>{{round .B}}</td> 
              <td>{{round .C}}</td>
              <td>{{round .Ta}}</td>
              <td>{{round .Z}}</td>
              <td>{{round .Y}}</td>
              <td>{{round .Tz}}</td>
            </tr>
            {{end}}
          </table>
    </section>
</article>
{{end}}